h4 {
    margin: 20px 0px;
    font-size: 22px;
    color: #3E8EDE;
}

p, ul {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

li {
	margin-bottom: 6px;
}

.pesquisa_texto {
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
}

.meme {
	width: 250px;
}

.sessao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}

.titulo {
    color: #3E8EDE;
}